
. {
    background-color: rgb(151, 3, 3);
    color: white;
}

.btn:hover {
    background: rgb(185, 145, 145);
}

.btn:active {
    background: rgb(78, 64, 64);
}

.orange {
    background-color: orange;
}